<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{meta.title}}</title>
    {% block head %}
        Template Head Content
    {% endblock %}
</head>

<body>
    {% block body %}
        Template Body Content
    {% endblock %}

    {% block footer %}
        Template Footer Content
    {% endblock %}
</body>

</html>