{% extends "./layouts/main.njk" %}

{% block head %}
    <link href="./dist/styles/style.css" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="box">Hello from HTML</div>
    <div id="ReactDiv"></div>
{% endblock %}


{% block footer %}
    <script src="./dist/scripts/commons-bundle.js" type="text/javascript"></script>
    <script src="./dist/scripts/index.js" type="text/javascript"></script>
{% endblock %}
