.card {
  // border: 1px solid black;
  text-align: center;
  background: linear-gradient(-5deg, $lightgrayyellow, #fff 85%, #fff 90%, $lightgray);
  // padding: 20px;
  // width: 200px;
  // height: 250px;
  border-radius: 15px;
  margin: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}