@import 'mixins';
@import 'colours';
@import 'components/card/card';
* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  background: $lightgray;
  background: linear-gradient($lightgray, #fff);
  border: 3px solid $gray;
  @include rounded(.5em);
}

// Styles
body {
  color: $gray;
  font-family: sans-serif;
  font-size: 1em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}